{% extends 'base.html.twig' %}

{% block title %}APE - Accueil
{% endblock %}

{% block body %}
	<div class="container flex ">

		<main class="">
			TEST
		</main>
		<aside class="">
			TEST
			<div></div>

		</aside>


	</div>

{% endblock %}
