<header>
	<div class="container">
		<div class="divTransparente white">
			<div id="logo">
				<img src="Assets/Images/LogoAPELesEcoliersDeFontbonneCouleurs.jpg" id="logo" alt="logoApe"></div>
			<h1>APE : Les Ecoliers de Fontbonne</h1>
		</div>


		<nav class="nav justify-content-right ">
			<a class="nav-link active " aria-current="page" href="{{path ('app_home')}}">Accueil</a>
			<a class="nav-link" href="">Evenements</a>
			<a class="nav-link" href="">Adhésion</a>
		</nav>

	</div>
</header>
