<aside class="col-12 col-md-3 ">
	<div class="mx-3 my-3 verbatim">
		<h2>On parle de nous
		</h2>
		{% for verbatim in verbatims %}

			<div class="card  my-3">
				<div class="card-body">
					<p>"
						{{verbatim.description}}
						"</p>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="mx-3 my-3 pub">
		<h2>Nos partenaires
		</h2>
		<div class="card  my-3">
			<img src="Assets/Images/dotpub.jpg" class="card-img-top imgPub" alt="">
			<div class="card-body">
				<p class="card-text">Publicité.</p>
			</div>
		</div>
	</div>
</aside>
