{% extends 'base.html.twig' %}

{% block title %}
	APE - Les Membres
{% endblock %}

{% block body %}

	<div class="container d-flex flex-wrap ">

		<main class="mb-3 mt-5 col-12 col-md-9">
			<h1>
				Mentions légales
			</h1>

			<div class="d-flex flex-wrap"></div>
		</main>

	</div>
{% endblock %}
