body {
    font-family: 'Eczar', serif;
    background: rgb(255, 81, 176);

    background: linear-gradient(90deg, rgba(255, 101, 143, 1) 0%, rgba(252, 182, 127, 1) 75%, rgba(249, 248, 113, 1) 100%);


    /* Media query pour les écrans plus larges (desktop) */
    @media (min-width: 768px) {
        background: linear-gradient(45deg, rgba(255, 101, 143, 1) 0%, rgba(252, 182, 127, 1) 70%, rgba(249, 248, 113, 1) 100%);
    }
}

p {
    color: #8D506D;
}

h1 {
    color: white;
}

h2 {
    color: #FFD55A;
}

h3 {
    color: #FD8A5E;
}

.card-body h3 {
    color: #FF51B0;
}

a,
i {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

.bold {
    font-weight: 800;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

}

.flex {
    display: flex;
    align-items: start;
    justify-content: center;
}

main {
    color: #8D506D;
}

.MemberShip {
    max-width: 600px;
    margin: 0 auto;
}

aside h2 {
    color: #8D506D;
}

/*navbar*/
nav {
    background-color: #FD8A5E;
    ;
    margin: 20px;
    padding: 20px;
    justify-content: center;
}

/* Ajouts Media queries pour version Tablet & Desktop*/
@media screen and (min-width: 768px) {
    .nav-link {
        font-size: 1.5rem;
    }

    nav {
        justify-content: left;
    }


}

/* Personalisation des nav-link pour les états survolés et focus */
.nav-link,
.footer-link {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.nav-link:hover,
.nav-link:focus,
.footer-link:hover,
.footer-link:focus {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

/*image logo APE*/
#logo {
    margin-right: 10px;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50px;
}

@media (min-width: 650px) {
    #logo {
        width: 150px;
        height: 150px;
        border-radius: 75px;
    }
}

.divTransparente {
    display: flex;
    align-items: center;
    /* Aligner les éléments verticalement au centre */
}


/* FOOTER */

.footer {
    background-color: #FD8A5E;
    padding: 0 20px;
}




.copyright,
.legals {
    text-align: center;
    text-decoration: none;
    color: white;
}

#adress {
    color: white;
}

/*Events page*/
.Eventcard {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    color: white;
}

/* ASIDE - pub*/
#MemberImage,
.imgPub,
.imgHome {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Member page*/
.Membercard {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}